# Ignored everywhere
**/node_modules/

# Ignored dirs in sub packages
packages/*/cjs/
packages/*/es/
packages/*/dist/
packages/*/flow-typed/
packages/*/ts/
packages/*/tests/ts/
packages/boilerplate/buildServer/
packages/boilerplate/buildClient/

# Ignored source: (TODO fix errors)
packages/integration-tests/__helpers__/awaitUrlChange.js
packages/integration-tests/__helpers__/createTest.js
packages/integration-tests/__test-helpers__/createLink.js
packages/integration-tests/__test-helpers__/createSequence.js
packages/integration-tests/__test-helpers__/reducerParameters.js
packages/integration-tests/__test-helpers__/rudySetup.js
packages/integration-tests/__tests__/Link/Link.js
packages/integration-tests/__tests__/Link/NavLink.js
packages/integration-tests/__tests__/integration/actions/addRoutes.js
packages/integration-tests/__tests__/integration/anonymousThunk.js
packages/integration-tests/__tests__/integration/async.js
packages/integration-tests/__tests__/integration/browser/actionsInCallbacks/regularAction.js
packages/integration-tests/__tests__/integration/browser/history/reset.js
packages/integration-tests/__tests__/integration/browser/pop/popCancelsAction.js
packages/integration-tests/__tests__/integration/browser/pop/popReturnFalse.js
packages/integration-tests/__tests__/integration/browser/pop/redirect.js
packages/integration-tests/__tests__/integration/browser/pop/redirectToCurrent.js
packages/integration-tests/__tests__/integration/browser/pop/redirectToPrev.js
packages/integration-tests/__tests__/integration/callStartTrue.js
packages/integration-tests/__tests__/integration/cancelPendingRequest.js
packages/integration-tests/__tests__/integration/complexRedirects.js
packages/integration-tests/__tests__/integration/createScene/actionCreators.js
packages/integration-tests/__tests__/integration/createScene/options.js
packages/integration-tests/__tests__/integration/dispatchFrom.js
packages/integration-tests/__tests__/integration/formatRoutes.js
packages/integration-tests/__tests__/integration/pathlessRoute.js
packages/integration-tests/__tests__/integration/thunkCaching.js
packages/integration-tests/wallaby.js

packages/rudy/src/core/compose.js
packages/rudy/src/core/createReducer.js
packages/rudy/src/core/createRequest.js
packages/rudy/src/core/createRouter.js
packages/rudy/src/core/index.js
packages/rudy/src/createScene/index.js
packages/rudy/src/createScene/utils/camelCase.js
packages/rudy/src/createScene/utils/index.js
packages/rudy/src/createScene/utils/logExports.js
packages/rudy/src/createScene/utils/makeActionCreator.js
packages/rudy/src/flow-types.js
packages/rudy/src/history/BrowserHistory.js
packages/rudy/src/history/History.js
packages/rudy/src/history/utils/index.js
packages/rudy/src/history/utils/sessionStorage.js
packages/rudy/src/history/utils/supports.js
packages/rudy/src/middleware/anonymousThunk.js
packages/rudy/src/middleware/call/index.js
packages/rudy/src/middleware/call/utils/createCache.js
packages/rudy/src/middleware/call/utils/enhanceRoutes.js
packages/rudy/src/middleware/call/utils/shouldCall.js
packages/rudy/src/middleware/index.js
packages/rudy/src/middleware/serverRedirect.js
packages/rudy/src/middleware/transformAction/utils/formatAction.js
packages/rudy/src/middleware/transformAction/utils/index.js
packages/rudy/src/middleware/transformAction/utils/replacePopAction.js
packages/rudy/src/pathlessRoutes/callHistory.js
packages/rudy/src/utils/index.js
