# Ignored everywhere
**/node_modules/

**/.editorconfig
**/.eslintignore
**/.prettierignore
**/.gitignore
**/.flowconfig
**/.npmignore

# Ignored packages outside sub packages
LICENSE
yarn.lock
yarn-error.log
lerna-debug.log

# Ignored extensions
*.png
*.snap
*.log
*.env
*.sh
*.tsbuildinfo

# Ignored dirs in sub packages
packages/*/
