# Used for helper packages

**/.editorconfig
**/.eslintignore
**/.gitignore
**/.snyk
**/.flowconfig
**/.npmignore
**/LICENSE

# Ignored extensions

yarn-error.log
lerna-debug.log
*.png
*.snap
*.log
*.ico

# Ignored dirs in sub packages
cjs/
es/
dist/
buildClient/
buildServer/
flow-typed/
